<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="socila-container clearfix">
                    <div class="copyright pull-right">Copyright &copy; 2017 <a href="http://www.shagalalab.com">Shaǵala Lab</a></div>
                    <ul class="social pull-right">
                        <!-- start social links -->
                        <!-- replace the # with your own profile link address -->
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <!-- end social links -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>