<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="socila-container clearfix">
                    <div class="copyright pull-right">Copyright &copy; 2017 - 2019 <a href="http://www.shagalalab.com">Shaǵala Lab</a></div>
                    <ul class="social pull-right">
                        <!-- start social links -->
                        <!-- replace the # with your own profile link address -->
                        <li><a href="https://www.facebook.com/sozlikdotcom/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/sozlikdotcom" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <!-- end social links -->
                    </ul>
                    <a href="https://play.google.com/store/apps/details?id=com.shagalalab.sozlik" class="pull-right" target="_blank">
                        <img src="{{ url_for('static', filename='images/google-play-badge.png') }}" height="60">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>