{% extends "base.html" %}
{% block body %}
<div class="detail-word">
    <div class="container page-text">
        <div class="row">
            <div class="col-sm-12">
                <h2>Keshirersiz, siz izlegen <strong>{{ word }}</strong> sóziniń awdarması tabılmadı</h2>
            </div>
        </div>
    </div>
</div>
<div class="detail-translation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a href="/" style="text-decoration: underline;">Bas betke</a> qaytıp, basqa sózlerdi izlep kóriń
            </div>
        </div>
    </div>
</div>
{% endblock %}